<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/measure-doors/measuring-door-banner-xs.jpg  576w,
            /images/support-landing-page/measure-doors/measuring-door-banner-sm.jpg  768w,
            /images/support-landing-page/measure-doors/measuring-door-banner-md.jpg  992w,
            /images/support-landing-page/measure-doors/measuring-door-banner-lg.jpg 1200w,
            /images/support-landing-page/measure-doors/measuring-door-banner-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/measure-doors/measuring-door-banner-xl.jpg"
          alt="el el wood how to measure doors"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>How to Measure Your Door</h1>
            <a href="/about/resources" class="btn btn-sm btn-elandel"
              ><i class="fal fa-chevron-left"></i> Back to Resources
            </a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 col-md-4 landing-text-box">
      <div class="row landing-text-container">
        <div class="col-12 landing-text-box">
          <img
            src="/images/support-landing-page/measure-doors/measuring-door-1.jpg"
            alt="6 panel door"
            class="w-100"
          />
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 landing-text-box">
          <h2>STEPS 1 & 2</h2>
          <p class="one-rem-text-desktop">
            There is no ‘industry standard’ for door sizing, so follow these
            steps carefully. Measuring your door and determining your door
            handing is very important to ensure the best fit for your opening.
            For best results, have a professional measure your opening and get
            it installed.
          </p>
        </div>
        <!-- col-12 landing-text-box -->
      </div>
      <!-- row landing-text-container -->
    </div>
    <!-- col-12 col-md-4 landing-text-box -->
    <div class="col-12 col-md-8 landing-text-box">
      <div class="row landing-text-container">
        <div class="col-12 landing-text-box">
          <h2>STEP 1.</h2>
          <p class="one-rem-text-desktop">
            Measure the width of your existing door slab. </p><p> This is the edge of
            one side of the door slab to the edge of the other side of the door
            slab. (X)
          </p>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 landing-text-box">
          <h2>STEP 2.</h2>
          <p class="one-rem-text-desktop">
            Measure the height of your existing door slab. </p><p> This is the top edge
            of the door slab to the bottom edge of the door slab. Do not include
            the sweep on the bottom of the door. (Y)
          </p>
        </div>
        <!-- col-12 landing-text-box -->

        <div class="col-12 landing-text-box">
          <h2>STEP 3.</h2>
          <p class="one-rem-text-desktop">
            Measure the jamb depth of your existing door. </p><p> This is the inside
            edge of the door jamb to the outside edge of the door jamb (area
            where hinges are). Do not include any trim / moulding in this
            measurement.
          </p>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 landing-text-box">
          <h2>STEP 4.</h2>
          <div class="row pb-0 landing-text-container">
            <div class="col-12">
              <p class="one-rem-text-desktop">
                Determine the handing of your existing door </p><p> (See next section
                for visual and double door options).
              </p>
            </div>
            <!-- col-12 -->
            <div class="col-12 col-md-6 landing-text-box">
              <div class="row pb-1 landing-text-container">
                <div class="col-12 landing-text-box">
                  <p>
                    <strong class="text-dark">A).</strong>
                    All handing must be done from the exterior of the door.
                    Looking at your door from the outside, your door swings:
                  </p>
                  <p>
                    <strong>A</strong> or <strong>B</strong> – Into the house
                    (inswing)
                  </p>
                  <p>
                    <strong>C</strong> or <strong>D</strong> – Out of the house
                    (outswing)
                  </p>
                </div>
                <!-- col-12 landing-text-box -->

                <div class="col-12 landing-text-box">
                  <p>
                    <strong class="text-dark">B).</strong>
                    Looking at your door from the outside, your door knob is:
                  </p>
                  <p>
                    <strong>B</strong> or <strong>D</strong> – On the left side
                    of the door
                  </p>
                  <p>
                    <strong>A</strong> or <strong>C</strong> – On the right side
                    of the door
                  </p>
                </div>
                <!-- col-12 landing-text-box -->
              </div>
              <!-- row pb-1 landing-text-container -->
            </div>
            <div class="col-12 col-md-6 landing-text-box">
              <p>
                <strong class="text-dark">C).</strong>
                Select the Letter below to determine the proper handing of your
                door.
              </p>
              <p>
                <strong class="text-dark">B</strong> – Right-Hand Inswing
              </p>
              <p><strong class="text-dark">A</strong> – Left-Hand Inswing</p>
              <p>
                <strong class="text-dark">D</strong> – Left-Hand Outswing
              </p>
              <p>
                <strong class="text-dark">C</strong> – Right-Hand Outswing
              </p>
              <p>(See below for visual and more options)</p>
            </div>
          </div>
          <!-- row pb-0 landing-text-container -->
        </div>
        <!--col-12 col-md-6 landing-text-box -->

        <div class="col-12 landing-text-box">
          <h2>STEP 5.</h2>
          <p class="one-rem-text-desktop">
            Final calculations of your existing door. </p><p>To find the estimated size
            of your existing unit, use the worksheet below to do your
            calculations.
          </p>
        </div>
      </div>
      <!-- row landing-text-container -->
    </div>
  </div>
  <!-- .row -->

  <div class="row justify-content-center landing-text-container">
    <div class="col-md-10 col-lg-8 landing-text-box d-none d-md-block  ">
      <!-- BIG TABLE -->
      <table class="table table-striped table-bordered  ">
        <thead>
          <tr style="background-color: #0054a6">
            <th class="text-white" scope="col" style="font-size: 1.2em">
              Width
            </th>
            <th class="text-white" scope="col" style="font-size: 1.2em">
              For Inswing Units
            </th>
            <th class="text-white" scope="col" style="font-size: 1.2em">
              For Outswing Units
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: 1.2em">MEASUREMENT X</th>
            <td class="border-bottom border-dark" style="font-size: 1.2em">
              ✎ X=
            </td>
            <td class="border-bottom border-dark" style="font-size: 1.2em">
              ✎ X=
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 1.2em">ADD FOR JAMBS</th>
            <td class="text-left pt-3" style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              1.75 (1 <sup>3/4</sup>)"
            </td>
            <td class="text-left pt-3" style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              1.75 (1 <sup>3/4</sup>)"
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 1.2em">TOTAL UNIT WIDTH</th>
            <td style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            </td>
            <td style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered  ">
        <thead>
          <tr style="background-color: #0054a6">
            <th class="text-white" scope="col" style="font-size: 1.2em">
              Height
            </th>
            <th class="text-white" scope="col" style="font-size: 1.2em">
              <sup>*</sup> For Inswing Units
            </th>
            <th class="text-white" scope="col" style="font-size: 1.2em">
              <sup>†</sup> For Outswing Units
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: 1.2em">MEASUREMENT Y</th>
            <td class="border-bottom border-dark" style="font-size: 1.2em">
              ✎ Y=
            </td>
            <td class="border-bottom border-dark" style="font-size: 1.2em">
              ✎ Y=
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 1.2em">
              ADD FOR HEAD & SILL <br />
              DOOR BOTTOM I.S.
            </th>
            <td class="text-left pt-3" style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              2.75 (2 <sup>3/4</sup>)"
            </td>
            <td class="text-left pt-3" style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              1.875 (1 <sup>7/8</sup>)"
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: 1.2em">TOTAL UNIT HEIGHT</th>
            <td style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            </td>
            <td style="font-size: 1.2em">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; =
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- col-12   landing-text-box d-block d-md-none -->

    <!-- SMALL TABLE -->
    <div class="col-12   landing-text-box d-block d-md-none   ">
      <table class="table table-striped table-bordered ">
        <thead>
          <tr style="background-color: #0054a6">
            <th class="text-white" scope="col" style="font-size: .9em">
              Width
            </th>
            <th class="text-white" scope="col" style="font-size: .9em">
              For Inswing Units
            </th>
            <th class="text-white" scope="col" style="font-size: .9em">
              For Outswing Units
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: .9em">MEASUREMENT X</th>
            <td class="border-bottom border-dark" style="font-size: .9em">
              ✎ X=
            </td>
            <td class="border-bottom border-dark" style="font-size: .9em">
              ✎ X=
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: .9em">ADD FOR JAMBS</th>
            <td class="text-left pt-3 pl-sm-5" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;1.75<span
                class="d-none d-md-block"
                >(1 <sup>3/4</sup>)</span
              >"
            </td>
            <td class="text-left pt-3 pl-sm-5" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;+&nbsp;&nbsp;&nbsp;&nbsp;1.75<span
                class="d-none d-md-block"
                >(1 <sup>3/4</sup>)</span
              >"
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: .9em">TOTAL UNIT WIDTH</th>
            <td class="pt-3  pl-sm-5" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;=
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup
                >"</sup
              >
            </td>
            <td class="pt-3  pl-sm-5" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;=
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup
                >"</sup
              >
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered   ">
        <thead>
          <tr style="background-color: #0054a6">
            <th class="text-white" scope="col" style="font-size: .9em">
              Height
            </th>
            <th class="text-white" scope="col" style="font-size: .9em">
              <sup>*</sup> For Inswing Units
            </th>
            <th class="text-white" scope="col" style="font-size: .9em">
              <sup>†</sup> For Outswing Units
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="font-size: .9em">MEASUREMENT Y</th>
            <td class="border-bottom border-dark" style="font-size: .9em">
              ✎ Y=
            </td>
            <td class="border-bottom border-dark" style="font-size: .9em"> 
              ✎ Y=
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: .9em">
              ADD FOR HEAD & SILL DOOR BOTTOM I.S.
            </th>
            <td class="text-left pt-4 pl-sm-4" style="font-size: .9em">
              +&nbsp;&nbsp;2.75 (2 <sup>3/4</sup>)"
            </td>
            <td class="text-left pt-4 pl-sm-4" style="font-size: .9em">
              +&nbsp;&nbsp;1.875 (1 <sup>7/8</sup>)"
            </td>
          </tr>
          <tr>
            <th scope="row" style="font-size: .9em">TOTAL UNIT HEIGHT</th>
            <td class="pt-3 pl-sm-4" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;=
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup
                >"</sup
              >
            </td>
            <td class="pt-3 pl-sm-4" style="font-size: .9em">
              &nbsp;&nbsp;&nbsp;=
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup
                >"</sup
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- col-12   landing-text-box d-block d-md-none -->
    <div class="col-6 text-right landing-text-box">
      <p>
        <strong class="text-dark">NOTE:</strong> THIS CHART IS FOR
        CALCULATIONS OF A SINGLE UNIT ONLY
      </p>
    </div>
    <div class="col-6 landing-text-box">
      <p>
        <strong class="text-dark">*</strong> ADJUSTABLE SILL
        <strong class="text-dark">†</strong> BUMBER OR 1/2" LOW PROFILE (ADA)
        SILL
      </p>
    </div>
    <!-- col-6 landing-text-box -->
  </div>
  <!-- row justify-content-center landing-text-container -->
  <div class="row pb-1 justify-content-center landing-text-container">
    <div class="col-12 landing-text-box dark-text  ">
      <h2>Find Your Door Handing</h2>
    </div>
    <!-- col-12 landing-text-box -->
    <div class="col-12 col-md-3 landing-text-box  px-1">
      <div class="row pb-1 justify-content-center landing-text-container">
        <div class="col-12 text-center text-white landing-text-box  ">
          <h3 class="py-2  " style="background-color: #0054a6;">Inswing</h3>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-2.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-2a.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
      </div>
      <!-- row justify-content-center landing-text-container -->
    </div>
    <!-- col-12 landing-text-box -->
    <div class="col-12 col-md-3 landing-text-box  px-1">
      <div class="row pb-1 justify-content-center landing-text-container">
        <div class="col-12 text-center text-white landing-text-box  ">
          <h3 class="py-2  " style="background-color: #0054a6;">Inswing</h3>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-3.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-3a.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
      </div>
      <!-- row justify-content-center landing-text-container -->
    </div>
    <!-- col-12 landing-text-box -->
    <div class="col-12 col-md-3 landing-text-box  px-1">
      <div class="row pb-1 justify-content-center landing-text-container">
        <div class="col-12 text-center text-white landing-text-box  ">
          <h3 class="py-2  " style="background-color: #0054a6;">Outswing</h3>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white3 landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-4.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-4a.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
      </div>
      <!-- row justify-content-center landing-text-container -->
    </div>
    <!-- col-12 landing-text-box -->
    <div class="col-12 col-md-3 landing-text-box  px-1">
      <div class="row pb-1 justify-content-center landing-text-container">
        <div class="col-12 text-center text-white landing-text-box  ">
          <h3 class="py-2  " style="background-color: #0054a6;">Outswing</h3>
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-5.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
        <div class="col-12 text-center text-white landing-text-box  ">
          <img
            class="w-100"
            src="/images/support-landing-page/measure-doors/measring-door-inset-5a.jpg"
            alt="Door Inswing/ Outswing measurement"
          />
        </div>
        <!-- col-12 landing-text-box -->
      </div>
      <!-- row justify-content-center landing-text-container -->
    </div>
    <!-- col-12 landing-text-box -->
  </div>
  <!-- row justify-content-center landing-text-container -->
  <div class="row pb-1 justify-content-center landing-text-container">
    <div class="col-12 text-center landing-text-box  px-1">
     <p> FOR DOUBLE DOOR UNITS OR SIDELITE UNITS ASK YOUR DEALER</p>
    </div>
    <!-- col-12 landing-text-box -->
  </div>
  <!-- row justify-content-center landing-text-container -->
  <div class="row overflow-auto landing-text-container">
    <div class="col-12 landing-text-box dark-text  ">
      <h2 class=" text-center">PREHUNG NET UNIT MEASUREMENTS</h2>
    </div>
    <!-- col-12 landing-text-box -->
    <div class="col-12 col-md-9 text-center landing-text-box  px-1">
      <h2 class="pb-0">NET UNIT WIDTHS</h2>
      <table class="table table-striped">
        <thead>
          <tr style="height: 95px;">
            <th scope="col">Door Size</th>
            <th scope="col">Net Unit Width</th>
            <th scope="col">Add 1-Each Fixed 10" Sideltes</th>
            <th scope="col">Add 2-Each Fixed 10" Sidelites</th>
            <th scope="col">Add 1-Each Fixed 12" Sidelites</th>
            <th scope="col">Add 2-Each Fixed 12" Sidelites</th>
            <th scope="col">Add 1-Each Fixed 14" Sidelites</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px ">
            <th scope="row">2/0 x 6/8</th>
            <td>25½"</td>
            <td>36⅞"</td>
            <td>48¼"</td>
            <td>38⅜"</td>
            <td>51¼"</td>
            <td>40⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/4 x 6/8</th>
            <td>29½"</td>
            <td>40⅞"</td>
            <td>52¼"</td>
            <td>42⅜"</td>
            <td>55¼"</td>
            <td>44⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/6 x 6/8</th>
            <td>31½"</td>
            <td>42⅞"</td>
            <td>54¼"</td>
            <td>44⅜"</td>
            <td>57¼"</td>
            <td>46⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/8 x 6/8</th>
            <td>33½"</td>
            <td>44⅞"</td>
            <td>56¼"</td>
            <td>46⅜"</td>
            <td>59¼"</td>
            <td>48⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/10 x 6/8</th>
            <td>35½"</td>
            <td>46⅞"</td>
            <td>58¼"</td>
            <td>48⅜"</td>
            <td>61¼"</td>
            <td>50⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">3/0 x 6/8</th>
            <td>37½"</td>
            <td>48⅞"</td>
            <td>60¼"</td>
            <td>50⅜"</td>
            <td>63¼"</td>
            <td>52⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">3/6 x 6/8</th>
            <td>43½"</td>
            <td>54⅞"</td>
            <td>66¼"</td>
            <td>56⅜"</td>
            <td>69¼"</td>
            <td>58⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">4/0 x 6/8</th>
            <td>49½"</td>
            <td>60⅞"</td>
            <td>72¼"</td>
            <td>62⅜"</td>
            <td>75¼"</td>
            <td>64⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">4/0 x 6/8 Double</th>
            <td>50"</td>
            <td>61⅜"</td>
            <td>72¾"</td>
            <td>62⅞"</td>
            <td>75¾"</td>
            <td>64⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">4/8 x 6/8 Double</th>
            <td>58"</td>
            <td>69⅜"</td>
            <td>80¾"</td>
            <td>70⅞"</td>
            <td>83¾"</td>
            <td>72⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">5/0 x 6/8 Double</th>
            <td>62"</td>
            <td>73⅜"</td>
            <td>84¾"</td>
            <td>74⅞"</td>
            <td>87¾"</td>
            <td>76⅞</td>
          </tr> 
          <tr style="height: 50px ">
            <th scope="row">5/4 x 6/8 Double</th>
            <td>66"</td>
            <td>77⅜"</td>
            <td>88¾"</td>
            <td>78⅞"</td>
            <td>91¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">5/8 x 6/8 Double</th>
            <td>70"</td>
            <td>81⅜"</td>
            <td>92¾"</td>
            <td>82⅞"</td>
            <td>95¾"</td>
            <td>84⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">6/0 x 6/8 Double</th>
            <td>74"</td>
            <td>85⅜"</td>
            <td>96¾"</td>
            <td>86⅞"</td>
            <td>99¾"</td>
            <td>88⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/6 x 7/0</th>
            <td>31½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>44⅜"</td>
            <td>57¼"</td>
            <td>46⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/8 x 7/0</th>
            <td>33½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>46⅜"</td>
            <td>59¼"</td>
            <td>48⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">3/0 x 7/0</th>
            <td>37½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>50⅜"</td>
            <td>63¼"</td>
            <td>52⅜"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/6 x 8/0</th>
            <td>31½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>*44⅞"</td>
            <td>*58¼"</td>
            <td>*46⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">2/8 x 8/0</th>
            <td>33½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>*46⅞"</td>
            <td>*60¼"</td>
            <td>*48⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th scope="row">3/0 x 8/0</th>
            <td>37½"</td>
            <td>&#x2015;</td>
            <td>&#x2015;</td>
            <td>*50⅞"</td>
            <td>*64¼"</td>
            <td>*52⅞"</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-3 text-center landing-text-box  px-1">
      <h2 class="pb-0">NET UNIT HEIGHTS</h2>
      <table class="table table-striped">
        <thead>
          <tr style="height: 95px;">
            <th class=" d-md-none" scope="col">Door Size</th>
            <th scope="col">Add 2-Each Fixed 14" Sidelites</th>
            <th scope="col">Inswing Net Unit Height</th>
            <th scope="col">Outswing Bumper Net Unit Height</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/0 x 6/8</th>
            <td>55¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/4 x 6/8</th>
            <td>59¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/6 x 6/8</th>
            <td>61¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/8 x 6/8/th></th>
            <td>63¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/10 x 6/8</th>
            <td>65¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">3/0 x 6/8</th>
            <td>67¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">3/6 x 6/8</th>
            <td>73¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">4/0 x 6/8</th>
            <td>79¼"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">4/0 x 6/8 Double</th>
            <td>79¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">4/8 x 6/8 Double</th>
            <td>87¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">5/0 x 6/8 Double</th>
            <td>91¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">5/4 x 6/8 Double</th>
            <td>95¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">5/8 x 6/8 Double</th>
            <td>99¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">6/0 x 6/8 Double</th>
            <td>103¾"</td>
            <td>81¾"</td>
            <td>80⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/6 x 7/0</th>
            <td>61¼"</td>
            <td>85¾"</td>
            <td>84⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/8 x 7/0</th>
            <td>63¼"</td>
            <td>85¾"</td>
            <td>84⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">3/0 x 7/0</th>
            <td>67¼"</td>
            <td>85¾"</td>
            <td>84⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/6 x 8/0</th>
            <td>*62¼"</td>
            <td>97¾"</td>
            <td>96⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">2/8 x 8/0</th>
            <td>*64¼"</td>
            <td>97¾"</td>
            <td>96⅞"</td>
          </tr>
          <tr style="height: 50px ">
            <th class="d-block d-md-none" scope="row">3/0 x 8/0</th>
            <td>*68¼"</td>
            <td>97¾"</td>
            <td>96⅞"</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- col-12 col-md-3 text-center landing-text-box  px-1 -->
    <div class="col-12 landing-text-box">
      <h2>ALL SPECIFICATIONS ARE NET FRAME SIZES!</h2>
    </div>
    <div class="col-12 col-md-6 landing-text-box">
      <p>
        Net frame height with Flat Oak Sill for 6'8" doors 81-3/4" I.S. &
        81-9/16" O.S. for 8'0" doors 97-3/4" I.S. & 97-9/16" O.S.
      </p>
      <h2>NOTE:</h2>
      <p>
        For 1/2" Low Profile (ADA) Sill Deduct ⅞" From Inswing Height (Applies
        to Inswing or Outswing Units).
      </p>
      <p>
        6/8 & 7/0 Unit Dimensions with Sidelites Includes 1" x 2" Mull Post.
        *8/0 Units includes 1½" x 2½" Fat Boy Mull Post
      </p>
    </div>
    <div class="col-12 col-md-6 landing-text-box">
      <p>
        6'8" Door units with **operable sidelites add 3/4" per sidelite in width
        for Fat Boy Mull Post and (2) 1/8" gaps at hinge & strike.
      </p>
      <p>
        8'0" Door units with **operable sidelites add 1-7/16" per sidelite in
        width for back-to-back Mull Post, 1-3/16" spacer and (2) 1/8" gaps at
        hinge & strike.
      </p>
      <p>
        ** All Inswing or All Outswing units (Inswing Door / Inswing Sidelite or
        Outswing Door / Outswing Sidelites)
      </p>
    </div>
  </div>
  <!-- row overflow-auto landing-text-container -->
</div>
<!-- container -->
